.title {
    text-align: center;
}

.score-board {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    align-items: center;
}

.player-icon {
    height: 200px;
    width: 200px;
}

.cpu-icon {
    height: 200px;
    width: 200px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.sign-player {
    filter: invert(43%) sepia(16%) saturate(573%) hue-rotate(192deg) brightness(99%) contrast(94%);
}

.sign-cpu {
    filter: invert(50%) sepia(33%) saturate(788%) hue-rotate(317deg) brightness(118%) contrast(102%);
}

.img-sign {
    height: 100px;
    width: 100px;
}

.player, .cpu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-score, .cpu-score {
    font-size: 48px;
}

button {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: none;
    color: white;
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    color: black;
    background-color: rgb(119, 112, 112);
}

.result {
    height: 100px;
    text-align: center;
    margin-top: 32px;
    font-size: 48px;
}